.navbar-brand img {
    width: 50px;
    margin-left: -3rem;
}

.btn-primary{
    background-color: rgb(96, 96, 255);
    border: 2px solid blue;
    margin: 40px 0px;
}

.btn-primary:hover{
    background-color: blue;
    border: 2px solid blue;
    
}

.btn-danger{
    color:white;
    width:100%;
    background-color: green;
    border: 2px solid red;
    margin: 40px 0px;
}

.btn-danger:hover{
    background-color: red;
    border: 2px solid red;
    
}
#btn-container{
    margin-right: -3rem;
}